doctype html
head(lang='en')
  meta(charset='utf-8')
  title Schanj
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  link(rel='stylesheet', href='./styles/main.css')
body
  #input
    span.currency $US
    input(type="number", name="input")
  #display
    .container
      p.currency Gourdes
      p.result 1209
  #rate-selector
    select
      option(value="brh") BRH
      option(value="capital") Capital
      option(value="bnc") BNC
      option(value="sogebank") Sogebank
      option(value="unibank") Unibank
      option(value="bph") BPH
      option(value="buh") BUH
    .type
      button.active Achat
      button Vente
  script(type="text/javascript", src="./scripts/index.js")
