/**
 * index.scss
 * - Add any styles you want here!
 */
$grey-background: #e4d9ff;
$grey-text: #777;
$primary: #181e37;
html, body {
    margin: 0;
    padding: 0;
}
body {
    width: 400px;
    background: white;
    font-family: "sans-serif";
}

button {
    cursor: pointer;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border: 1px solid transparent;
    line-height: 1.5;
    background-color: $grey-background;
    border-radius: 4px;
}

input {
    font-family: inherit;
    background: transparent;
    min-width: 0;
    border: 0;
}

hr {
    margin: 0;
    padding: 0;
    height: 1px;
    background: $grey-background;
    border-width: 0;
}

#input {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: $grey-background;
    .currency {
        cursor: pointer;
        display: inline-block;
        margin-right: 8px;
        font-size: 24px;
    }
    input {
        flex-grow: 1;
        outline: 0;
        font-size: 24px;
        text-align: right;
    }
}

#display {
    padding: 16px;
    .container {
        padding: 16px;
        background-color: $grey-background;
        border-radius: 4px;
        .currency {
            cursor: pointer;
            margin: 0 0 8px;
            text-align: right;
            font-size: 18px;
        }
        .result {
            margin: 0;
            font-size: 36px;
            text-align: right;
            width: 100%;
            max-width: 100%;
        }
    }
}

#rate-selector {
    padding: 16px;
    select {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        font-size: 1rem;
        margin-bottom: 8px;
        line-height: 1.5;
        border-radius: 1px solid $grey-background;
    }
    button {
        flex-grow: 1;

        &.active {
            background-color: $primary;
            border-color: $primary;
            color: white;
        }
        &:first-child {
            margin-right: 16px;
        }
    }
    .type {
        display: flex;
        width: 100%;
    }
}

#refresh {
    padding: 16px;
    display: flex;
    align-items: center;
    .meta {
        flex-grow: 1;
        .title {
            margin: 0;
            font-size: 12px;
            font-weight: bold;
            color: $grey-text;
        }
        .time {
            margin: 0;
            line-height: 1.5;
        }
    }
    .refresh {
        line-height: 1;
    }
}

footer {
    padding: 16px;
    background: $primary;
    p {
        margin: 0;
        color: white;
        a {
            color: white;
        }
    }
}
